* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    font-style: normal;
    background-image: url('assets/bg.png');
    background-position: center;
    
    
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.list-style-none {
    list-style-type: none;
}

.navbar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}



.logo-section {
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
}

.nav-btn {
    display: flex;
    justify-content: center;
}
.hamburger-icon{
    display: none;
}
.banner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", serif;
    margin-bottom: 20px;
    padding: 40px;
}
.banner-left h2{
    font-size: 3.5rem;
}
.banner-left p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-right img {
    float: right;
}

.curriculum-section {
    background-size: contain;
    text-align: center;
    padding: 40px;
}

.curriculum-section h2 {
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.curriculum-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.curriculum-cards h3,
.curriculum-cards p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.curriculum-cards a {
    text-decoration: none;
    font-weight: 600;
}

.curriculum-card {
    border: 1px solid rgb(230, 218, 218);
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.card-1 {
    background: linear-gradient(to bottom, rgba(83, 191, 233, 0.2), rgba(83, 191, 233, 0));
}

.card-1 a {
    color: rgb(83, 191, 233);
}

.card-2 {
    background: linear-gradient(to bottom, rgba(255, 225, 56, 0.2), rgba(255, 225, 56, 0));
}

.card-2 a {
    color: rgb(219, 181, 27);
}

.card-3 {
    background: linear-gradient(to bottom, rgba(204, 117, 204, 0.2), rgba(204, 117, 204, 0));
}

.card-3 a {
    color: rgb(204, 117, 204);
}

.arrow-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    padding: 15px;
    margin-left: 5px;
    font-weight: 600;
    font-size: 25px;

}

.story-section {
    background: linear-gradient(to top, rgba(255, 225, 56, 0.5), rgba(255, 225, 56, 0));
    padding: 40px;
}


.story-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.story-title h2 {
    font-size: 40px;
}

.story-cards {
    display: grid;
    grid-template-columns: 45% 55%;
}

.other-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.highlighted-card {
    border: 2px solid rgb(255, 252, 252);
    border-radius: 20px;
    margin-right: 20px;
    background-color: #fff;
    padding-bottom: 30px;
}

.highlighted-card img,
.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    margin-bottom: 5px;
}

.card-text {
    padding: 20px;
}

.highlighted-card h2 {
    margin-bottom: 40px;
}
.card{
    border: 2px solid rgb(255, 252, 252);
    border-radius: 20px;
    background-color: #fff;
    
}
.card h2{
    font-size: 16px;
}
.view-button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
footer{
    padding: 40px;
    background-color: rgb(9, 174, 240);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-left{
    width: 50%;
    color: white;
}
.footer-logo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.footer-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}
.footer-links ul{
    margin-top: 2rem;
    list-style: none;
}
.footer-links ul li{
    margin-top: 1rem;
}
.icons{
    margin-top: 2rem;
}
.primary-btn {
    padding: 10px 30px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    color: white;
    font-family: "Quicksand", serif;
    font-style: normal;
    font-weight: 600;
    border: 0.5px solid black;
}

.secondary-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
}


/* Resposive CSS */
@media only screen and (max-width: 600px) {
    .nav-title, 
    .nav-menu,
    .nav-btn{
        display: none;
    }
    .hamburger-icon{
        display: block;
        
        width: 100%;
        

    }
    .fa-bars{
        font-size: 3rem;
        float: right;
    }
    .navbar {
        width: 100%;
        display: grid;
        grid-template-columns: (2, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }
    .banner-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        font-family: "Quicksand", serif;
        margin: 1rem;
        text-align: center;
    }
    .banner-section img{
        width: 100%;
    }
    .banner-left h2{
        font-size: 2.5rem;
    }
    .curriculum-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.2rem;
    }
    .arrow-symbol{
        display: none;
    }
    .story-section {
        padding: 1rem;
    }
    .story-cards{
        display: block;
    }
    .other-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    
    .highlighted-card{
        display: none;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-left{
        width: 100%;
        color: white;
        margin-bottom: 2rem;
    }
    .logo-title{
        color: #fff;
    }
    .footer-links{
        margin-bottom: 1rem;
    }
    .footer-right{
        display: block;
    }
  }



